<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pantanos De Villa</title>
    <link rel="stylesheet" href="/src/app/app.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
</head>

<body>

    <!--DIRECCION-->

    <header class="address_bar">
        <div>
            <p>Alameda Las Garzas Reales s/n - Chorrillos, Lima</p>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="/login">Iniciar Sesión</a></li>
                <li>|</li>
                <li><a href="/registro">Regístrate</a></li>
            </ul>
        </div>
    </header>

    <!--NAVIGATION BAR-->
    <header>
        <a href="">
        <img class="logo" src="http://imgfz.com/i/dZ5VoBH.png" alt="logo" >
        </a>
        <nav>
            <ul class="nav_links">
                <li><a href="">INICIO</a></li>
                <li><a href="/nosotros">NOSOTROS</a></li>
                <li><a href="/servicios">SERVICIOS</a></li>
                <li><a href="/productos">PRODUCTOS</a></li>
            </ul>
        </nav>
        <a class="cta" href="/comprar-entradas"><button>COMPRAR ENTRADAS</button></a>
    </header>
    <header class="schedule">
        <div>
            <p>Horario de atención: Lunes-Viernes y feriados de 8:00am a 5:00pm</p>

        </div>
    </header>
</body>

</html>