<footer class="footer-distributed">

    <div class="footer-left">

        <div class="logo-blanco">
            <img src="http://imgfz.com/i/jUWPoDw.png" alt="Image description">
        </div>

        <p class="footer-links">
            <a href="#">Inicio</a>
            |
            <a href="#">Nosotros</a>
            |
            <a href="#">Servicios</a>
            |
            <a href="#">Productos</a>
        </p>

        <p class="footer-company-name">Copyright © 2021 <strong>RVSPV</strong> All rights reserved</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Alameda Las Garzas Reales s/n</span>
                Chorrillos, Lima-Perú</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+51 987 666 656</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:pantanosdevilla@prohvilla.gob.pe">pantanosdevilla@prohvilla.gob.pe</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>Sobre Nosotros</span>
            <strong>Los Pantanos de Villa</strong> son un reservorio de aguas subterráneas que provienen de lluvias y
            deshielos de la cuenca del río Rímac. Es por eso que su ecosistema es de vegetación inundada o, también
            llamado, de tierras húmedas.
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer>


