<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pantanos De Villa</title>
  <link rel="stylesheet" href="/src/app/app.component.css">
</head>

<body>

<!--DIRECCION-->

  <header class="address_bar">
    <div>
      <p>Alameda Las Garzas Reales s/n - Chorrillos, Lima</p>
    </div>
  </header>

<!--NAVIGATION BAR-->
  <header>
    <img class="logo" src="http://imgfz.com/i/dZ5VoBH.png" alt="logo">
    <nav>
      <ul class="nav_links">
        <li><a href="#">INICIO</a></li>
        <li><a href="#">NOSOTROS</a></li>
        <li><a href="#">SERVICIOS</a></li>
        <li><a href="#">PRODUCTS</a></li>
      </ul>
    </nav>
    <a class="cta" href="#"><button>COMPRAR</button></a>
  </header>
  <header class="schedule">
    <div>
      <p>Horario de atención: Lunes-Viernes y feriados de 8:00am a 5:00pm</p>
    </div>
  </header>

  <!--CARROUSEL-->
  <ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="http://imgfz.com/i/icseT0a.jpeg" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="http://imgfz.com/i/0sPgmkX.jpeg" alt="Random second slide" />
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
			<img src="http://imgfz.com/i/0Txzrg7.jpeg" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>Third slide label</h3>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
	</ng-template>
</ngb-carousel>
  
<div class="contenedor">
  
  <div class="imagen" style="background-image: url('http://imgfz.com/i/kbQ6NMC.jpeg');">
  </div>

  <div class="texto">
    <h2>Bienvenidos al Portal</h2>
    <p>Los Pantanos de Villa te da la cordial bienvenida a su renovado portal donde podrás encontrar toda la información de interés que te permitirá conocer un poco más sobre esta área natural protegida</p>
    <img src="http://imgfz.com/i/yhtjwBT.png" alt="Descripción de la imagen">
  </div>
</div>












  </body>

</html>