<app-header></app-header>

    <!--CAROUSEL-->
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="http://imgfz.com/i/icseT0a.jpeg" alt="Random first slide" />
            </div>
            <div class="carousel-caption">
                <h3>Refugio de Vida Silvestre Pantanos de Villa</h3>
                <p>Pantanos de Villa es un destino de observación de aves, siendo humedal de gran importancia,
                    considerando como sitio RAMSAR.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="http://imgfz.com/i/0sPgmkX.jpeg" alt="Random second slide" />
            </div>
            <div class="carousel-caption">
                <p>La RVSPV conserva una biodiversidad de especies. Es un hábitat natural que muy bien puede servir a
                    generaciones para que puedan ver de cerca un ecosistema. También actúa como un pulmón de la agitada
                    ciudad, purificando su aire.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="http://imgfz.com/i/0Txzrg7.jpeg" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
                <p>Pantanos de Villa sirve como una pequeña fuente de investigación para estudiantes de los distintos
                    centros educativos y universidades de Lima debido a su gran biodiversidad.</p>
            </div>
        </ng-template>
    </ngb-carousel>

    <!--WELCOME-->
    <div class="contenedor">

        <div class="imagen" style="background-image: url('http://imgfz.com/i/kbQ6NMC.jpeg');">
        </div>

        <div class="texto">
            <h2>Bienvenidos a Pantanos de Villa</h2>
            <p>Los Pantanos de Villa cuentan hoy en día con mayores atractivos eco turístico para los visitantes de esta
                gran Lima, del interior del país y del extranjero. Por ello, nuestro trabajo está orientado a servirte y
                a satisfacer tus necesidades de educación, recreación y entretenimiento.</p>
            <!-- <img src="http://imgfz.com/i/yhtjwBT.png" alt="Descripción de la imagen"> -->
        </div>
    </div>

    <!--CARD CONTAINER-->

    <div class="card-container">
        <div class="card">
            <img class="card-image" src="http://imgfz.com/i/Ty0pns8.jpeg" alt="Image 1">
            <h2 class="card-title">Circuito Tradicional</h2>
            <p class="card-description">Caminata de 1,5 km (ida y vuelta) donde se llegará al mirador Nº 2 y Nº 3 desde
                donde se puede apreciar la Laguna Mayor con una extensión de 50 Has. y 3 metros de profundidad. En ella
                se refugia una gran diversidad de especies de aves. </p>
            <a class="card-button" href="#">Ver más</a>
        </div>
        <div class="card">
            <img class="card-image" src="http://imgfz.com/i/BHaXu1r.jpeg" alt="Image 2">
            <h2 class="card-title">Circuito Génesis</h2>
            <p class="card-description">Recorrido en bote en la laguna Génesis de 2 hectáreas de extensión y 1,20 metros
                de profundidad, apreciando diversidad de flora y fauna característica de los Pantanos de Villa.</p>
            <a class="card-button" href="#">Ver más</a>
        </div>
        <div class="card">
            <img class="card-image" src="http://imgfz.com/i/MLFQSHI.jpeg" alt="Image 3">
            <h2 class="card-title">Circuito Marvilla</h2>
            <p class="card-description">Caminata de 1,3 kilometros aproximadamente alrededor de la Laguna Marvilla de 4
                hectarias de extensión, donde se observa una mayor diversidad de especies en su hábitat natural.</p>
            <a class="card-button" href="#">Ver más</a>
        </div>
    </div>

    <div class="contenedor">

        <div class="imagen-flora" style="background-image: url('http://imgfz.com/i/EhX40oQ.jpeg');">
            <button class="button">
                Nuestra Flora
            </button>
        </div>

        <div class="imagen-fauna" style="background-image: url('http://imgfz.com/i/OL6eHdt.jpeg');">
            <button class="button">
                Nuestra Fauna
            </button>
        </div>
    </div>

    <!--TESTIMONIALS-->












    <!--PARTNERS-->


    <section class="partners">
        <div class="partners-icons">
            <img src="http://imgfz.com/i/mC9fHxp.png" alt="Partner 1">
            <img src="http://imgfz.com/i/S32qH9I.png" alt="Partner 2">
            <img src="http://imgfz.com/i/rAzs25f.png" alt="Partner 3">
            <img src="http://imgfz.com/i/peAw7zn.png" alt="Partner 4">
            <img src="http://imgfz.com/i/Ee4h3v7.png" alt="Partner 5">
            <img src="http://imgfz.com/i/6Jk5amF.png" alt="Partner 6">
        </div>
    </section>

    <div class="map-t">
        <h3>Encuéntranos en:</h3>
    </div>
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31196.690730049893!2d-77.01709982895719!3d-12.208525397011712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b9f4a26e7f51%3A0x3512b7495e360b6!2sLos%20Pantanos%20de%20Villa!5e0!3m2!1ses!2spe!4v1683766868778!5m2!1ses!2spe"
            width=100% height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    


<app-footer></app-footer>