body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.image {
    flex: 1;
    background-image: url('http://imgfz.com/i/Og2kXVs.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.register-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-form .form-group {
    margin-bottom: 20px;
    width: 400px;
}

.register-form .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

